<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="icon" href='../static/img/favicon.png' type="image/x-icon" />
  <title>Wc_TrevLand</title>
</head>

<body>
  <header class="head">
    <div class="container">
      <div class="head__wrap">
        <div class="logo">
          <img src="../static/img/svg/logo-trevland.svg" class="logo__img">
        </div>
        <!-- /.logo -->
        <nav class="navigation">
          <ul class="navigation__list" id="q">
            <li class="navigation__item">
              <a class="navigation__link" href="#">Home</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#">Location</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#">Blog</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#">About</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#">Contact</a>
            </li>
            <!-- /.navigation__item -->
          </ul>
          <!-- /.navigation__list -->
        </nav>
        <!-- /.navigation -->
        <button class="btn btn-create">Booking now</button>
        <!-- /.btn-create -->


        <div class="menu__btn" id='js-menu-trigger'>
          <span class="menu__btn--line"></span>
          <span class="menu__btn--line"></span>
          <span class="menu__btn--line"></span>
          <span class="menu__btn--line"></span>
        </div>
        <!-- /.menu__btn -->
      </div>
      <!-- /.head__wrap -->
    </div>
    <!-- /.container -->
  </header>
  <!-- /.head -->



  <main class="main">
    <section class="main-b">
      <img src="../static/img/main-bg-foto.jpg" alt="background foto" class="main-b__foto">
      <!-- /.bg__foto -->
      <div class="watch">
        <div class="container">
          <div class="watch__wrap">
            <h1 class="watch__title">Railtrips To Here, <br>
              There And Everywhere!</h1>
            <!-- /.watch__title -->
            <p class="watch__text">We all wish to start our year the best way possiand <br>
              also according to a common belief if you have a great <br>
              start to your.</p>
            <!-- /.watch__text -->
            <a href="#" class=" btn watch__btn">Explore more</a>
            <!-- /.watch__link -->
          </div>
          <!-- /.watch__wrap -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.watch -->
    </section>
    <!-- /.main-b -->
    <section class="location">
      <div class="container">
        <div class="location__wrap">
          <h2 class="location__title">Popular Location</h2>
          <!-- /.location__title -->
          <p class="location__subtitle">For every one of us, travel came first. We’ve spent years living as nomads,
            pioneers, and voyagers— from island hopping in the</p>
          <!-- /.location__subtitle -->

          <div class="card">
            <img class='card__foto' alt='image location' src='../static/img/istanbul-turkey.jpg'>
            <!-- /.card__icon -->

            <h3 class="card__title">Istanbul, Turkey</h3>
            <!-- /.card__title -->
            <p class="card__description">Istanbul is a major city in Turkey that straddles Europe.</p>
            <!-- /.card__description -->
          </div>
          <!-- /.card -->
          <div class="card">
            <img class='card__foto' alt='image location' src='../static/img/kuala-lumpur-malaysia.jpg'>
            <!-- /.card__icon -->

            <h3 class="card__title">Kuala Lumpur, malaysia</h3>
            <!-- /.card__title -->
            <p class="card__description">A 272-step long trek leads you to this century.</p>
            <!-- /.card__description -->
          </div>
          <!-- /.card -->
          <div class="card">
            <img class='card__foto' alt='image location' src='../static/img/seoul-south-korea.jpg'>
            <!-- /.card__icon -->

            <h3 class="card__title">Seoul, South Korea</h3>
            <!-- /.card__title -->
            <p class="card__description">South Korea officially the Republic of Korea is a country in East Asia.</p>
            <!-- /.card__description -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.location__wrap -->
      </div>
      <!-- /.contaner -->
    </section>
    <!-- /.location -->
    <section class="blog">
      <div class="container">
        <div class="blog__wrap">
          <h2 class="blog__title">From Blog & News</h2>
          <!-- /.location__title -->
          <p class="blog__subtitle">Welcome to Community Conversations, a new interview series featuring Intrepid
            travellers, creatives and activists in our community.</p>
          <!-- /.location__subtitle -->
        </div>
        <!-- /.blog__wrap -->
        <div class="blog__wrap">
          <div class="blog-b">
            <img class='blog-b__foto' alt='image location' src='../static/img/canada-ontario-niagara-falls.jpg'>
            <!-- /.card__icon -->

            <h4 class="blog-b__title">Banff National Park</h4>
            <!-- /.card__title -->
            <p class="blog-b__description">Banff National Park lies in the heart of the majestic Rocky Mountains in the
              province of Alberta, and showcases some of Canada's most beautiful scenery. Turquoise-colored lakes,
              snow-capped peaks, and glaciers are all easily accessible </p>
            <!-- /.card__description -->
            <p class="blog-b__author">@thomasalva_adison</p>
            <!-- /.card__description -->
          </div>
          <!-- /.blog__b -->
          <div class="blog-s">
            <img class='blog-s__foto' alt='image location' src='../static/img/hiroshima-japan.jpg'>
            <!-- /.card__icon -->

            <h4 class="blog-s__title">The Hiroshima Peace!</h4>
            <!-- /.card__title -->
            <p class="blog-s__description">It was formally opened to the public in August that year.</p>
            <!-- /.card__description -->
            <p class="blog-s__author">@shova_bd88</p>
            <!-- /.card__description -->
          </div>
          <!-- /.blog__s -->
          <div class="blog-s">
            <img class='blog-s__foto' alt='image location' src='../static/img/india-top-attractions-varanas.jpg'>
            <!-- /.card__icon -->
            <h4 class="blog-s__title">The faithful prayers!</h4>
            <!-- /.card__title -->
            <p class="blog-s__description">A major pilgrimage center for Hindus, the holy city.</p>
            <!-- /.card__description -->
            <p class="blog-s__author">@adem/smith</p>
            <!-- /.card__description -->
          </div>
          <!-- /.blog__s -->
          <div class="blog-s">
            <img class='blog-s__foto' alt='image location' src='../static/img/naltar-lake-pakistan.jpg'>
            <!-- /.card__icon -->
            <h4 class="blog-s__title">Colourful waters!</h4>
            <!-- /.card__title -->
            <p class="blog-s__description">Forest-driven water and energy cycles are poorly.</p>
            <!-- /.card__description -->
            <p class="blog-s__author">@jhon7leew</p>
            <!-- /.card__description -->
          </div>
          <!-- /.blog__s -->
        </div>
        <!-- /.blog__wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.blog -->
  </main>
  <!-- /.main -->

  <footer class="foot">
    <div class="container">
      <div class="foot__wrap">
        <div class="info">
          <div class="info__logo-min">
            <img src="../static/img/svg/logo-trevland-black.svg" class="info__logo-min--img">
          </div>
          <!-- /.info__adds -->
          <nav class="soc-links">
            <a href="#" class="soc-links__link">
              <img class="soc-links__link-icon" src="../static/img/svg/social/icon-soc-fecebook.svg" alt="icon-link">
            </a>
            <!-- /.soc-links__link -->
            <a href="#" class="soc-links__link">
              <img class="soc-links__link-icon" src="../static/img/icon-soc-instagram.png" alt="icon-link">
            </a>
            <!-- /.soc-links__link -->
            <a href="#" class="soc-links__link">
              <img class="soc-links__link-icon" src="../static/img/svg/social/icon-soc-twitter.svg" alt="icon-link">
            </a>
            <!-- /.soc-links__link -->
            <a href="#" class="soc-links__link">
              <img class="soc-links__link-icon" src="../static/img/svg/social/icon-soc-google.svg" alt="icon-link">
            </a>
            <!-- /.soc-links__link -->
          </nav>
          <!-- /.soc-link -->
          <p class="info__email">Contact us:<br> @shovasatkhira88.com</p>
          <!-- /.info__adds -->
        </div>
        <!-- /.info -->
        <nav class="sitebar">
          <a href="#" class="sitebar__link">Services</a><br>
          <a href="#" class="sitebar__link">About</a><br>
          <a href="#" class="sitebar__link">Our story</a><br>
          <a href="#" class="sitebar__link">Benefits</a><br>
          <a href="#" class="sitebar__link">Branding</a>
        </nav>
        <!-- /.sitebar -->
        <nav class="sitebar">
          <a href="#" class="sitebar__link">Legal</a><br>
          <a href="#" class="sitebar__link">Terms & Conditions</a><br>
          <a href="#" class="sitebar__link">Privecy Policy</a><br>
          <a href="#" class="sitebar__link">Terms of use</a>
        </nav>
        <!-- /.sitebar -->

        <form class="form-wrap" name="test" method="post" action="">
          <span class="form-wrap__title">SUBSCRIBE NOW</span>
          <input class="form-wrap__email" type="email" size="45" name="email" placeholder="Email">
          <button class="btn form-wrap__btn" type="submit">Send</button>
        </form>
        <!-- /.form-wrap -->
      </div>
      <!-- /.foot__wrap -->
    </div>
    <!-- /.container -->
  </footer>
  <!-- /.footer -->
  <script src="../static/js/main.js"></script>
</body>

</html>