
:root {
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;
}
$theme-color-base: #121212;
$theme-bg-foot: #F6FBFB;
$btn-color-bg: #C9453B;
$text-color-base: #FFF;
